.movie{
    background-color: rgb(241, 201, 201);
    border:1px solid grey;
    padding: 5px;
    font-weight: bold;
    text-align: start;
    width:23%;
    margin-bottom: 25px;
    transition: all 0.2s ease-in;
}
.movie:hover{
    transform:translateY(-8px);
    cursor: pointer;
}
.movie>img{
    width:100%;
}